.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.center-navibar {
  cursor: pointer;
  position: center;
  font-size: 17px;
  padding: 0.8em 0.8em ;
  letter-spacing: 0.2em;
  box-shadow: inset 0 0 10px rgba(225, 225, 230, 0.9), 0 0 9px 3px rgba(0, 0, 0, 0.9);  
  width: 90;
  
}
 
 .video-container {
  position: absolute;
  top: 50;
  bottom: 50;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
 

.card {
      background: rgb(0, 0, 0);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
      border-radius: 1px;
    }
    

/* CSS */
    .button-10 {
      display: center;
      flex-direction: column;
      align-items: center;
      padding: 6px 14px;
      font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
      border-radius: 6px;
      border: none;
      text-decoration:none;
    
      color: #fff;
      background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
       background-origin: border-box;
      box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-10:focus {
      box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
      outline: 0;
      text-decoration:underline;
    }




  label {
      width:180px;
      clear:left;
      padding-right:20px;
      align-items: center;
  }
  
  input, label {
      float:center;   
  }

  .textarea {
    width: 30%;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    text-align: top;
    margin-top: 15px;
  
  }

  h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.2em;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    
}
h3 { 
    display: block;
    font-size: 1.0em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: yellow;
    font-weight: bold;
    
}
h4 { 
    display: block;
    font-size: 0.8em;
    margin-top: 1.5em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    color: aqua;
}
h5 { 
  font-size: 0.8em;
  display: inline; 
  margin-right:0.5em;
  font-weight: lighter;
  color: chartreuse;
  margin: 10px 0 20px; 
  font-weight: bold;
}

span{ 
  color: yellow;
  padding:0 10px; 
}

h6 { 
  display: block;
  font-size: 1em;
  margin-top: 0.0em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


.MuiIconButton-sizeSmall
{
  position: center;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
}
.MuiDataGrid-iconButtonContainer{
  padding: 15px;
}